@import 'primeflex.css';

html {
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    font-weight: normal;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100vh
}

.visible {
    visibility: visible !important;
}

.invisible {
    visibility: hidden !important;
}
